<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Contratación de Servidor
        p Se ha efectuado la contratacion de nuestro plan de hosting #{plan} correctamente. Cliente: #{name} #{surname}. Email: #{email}. Monto: #{monto} Número de órden: #{orden}. Numero de orden PayPal: #{ordenPay}

        A la brevedad recibirás un correo con las credenciales de acceso al servidor y la factura del servicio.